.aboutPage {
	width: 50%;
	margin-left: 10%;
	border-style: solid;
	border-color: blue;
	border-width: 5px;
	border-radius: 10px;
	
}
.aboutPage h1{
	margin: 15px;
	border-bottom-color: blue;
	border-bottom-width: 2px;
}

.aboutPage .contents {
	margin-left: 5%;
}

.aboutPage .contents h3{
	margin: 10px;
}

.aboutPage .contents p {
	margin: 5px;
}