/*none of this code works with FriendsList.php. It needs a lot of updating*/
.page {
	margin-bottom: 1em;
}

.friends-list ul{
	width: auto;
	font-size: 20px;
	font-style: bold;
	list-style-type: none;
	padding-left: 7px;
	padding-right: 7px;
}

.friends-list li {
	border-left: solid 3px black;
	border-radius: 10px;
}


.friends-list a {
	text-decoration: none;
}

.friends-list a:visited {
	color: #000000;
}

.friends-list li:hover {
	background-color: white;
}