/*none of this code works with FriendsList.php. It needs a lot of updating*/
.page {
	width:40%;
	margin-left: 5%;
	margin-bottom: 1em;
}

.friends-list ul{
	font-size: 15px;
	font-style: bold;
	font-family: Verdana, sans-serif;
	list-style-type: none;
	padding-left: 20px;
	padding-right: 5px;

}

.friends-list li {
	border-left: solid 5px #CC7A7A;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.friends-list p {
	width: 60%;
	padding: 15px;
	padding-bottom: 30px;
	padding-right:40px;
	font-size: 18px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #6B8FB2;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #6B8FB2;
	border-top-left-radius: 10px;
}

.friends-list a {
	text-decoration: none;
}

.friends-list a:visited {
	color: #000000;
}

.friends-list li:hover {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
}