html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	padding-left: 2em;
	padding-right: 2em;
	background-color: rgb(240, 240, 240);
}

.header {
	margin-bottom: 1em;
}

/* header */
.header ul.nav {
	padding-left: 0;
	font-size: 32px;
}

.header ul.nav li {
	width: 20%;
	list-style-type: none;
	display: inline-block;
	border-right: solid 1px black;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}

.header ul.nav li:hover {
	background-color: white;
}

.header ul.nav li:first-child:hover {
	background-color: inherit;
}

.header ul.nav li:first-child {
	width: 15%;
	padding-right: 10px;
	text-align: left;
}

.header ul.nav li:last-child {
	border-right: none;
}

.header .nav li {
	font-family: arial;
	text-transform: lowercase;
}

.header .nav .logo .logo-dj,
.header .nav .logo .logo-x {
	font-weight: bold;
}

.header .nav .logo:hover .logo-eq:after {
	content: "uipment";
}

.header .nav .logo .logo-x {
	color: red;
	text-transform: uppercase;
}

.header form {
	padding-left: 10%;
	padding-right: 10%;
}

.header form input[name='search'] {
	width: 100%;
	font-size: 1.25em;
}

/* page */
.ad {
	border: solid 1px black;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: white;
}

.ad .ad-title {
	margin-top: 0.25em;
	margin-bottom: 0;
}

.ad .ad-meta span {
	font-size: 13px;
	border-right: solid 1px black;
	padding-right: 7px;
	padding-left: 7px;
}

.ad .ad-meta span:last-child {
	border-right: none;
}

.ad p.ad-description {
	vertical-align: top;
}

.ad .ad-image {
}

.ad .ad-byline {
	display: block;
	border-top: solid 1px black;
	padding-top: 0.25em;
	padding-left: 1em;
	font-size: 14px;
	color: rgb(128, 128, 128);
}