.header {
	margin-bottom: 1em;
}

.header ul.nav {
	width: 90%;
	padding-left: 5px;
	padding-bottom: 5px;
	font-size: 25px;
	border-left-style: solid;
	border-bottom-style: solid;
	border-left-width: 5px;
	border-bottom-width: 5px;
	border-left-color: blue;
	border-bottom-color: blue;

}

.header ul.nav li {
	width: 15%;
	list-style-type: none;
	display: inline-block;
	border-right: solid 1px black;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}

.header ul.nav a {
	display: block;
	text-decoration: none;
	color: #000000;
}

.header ul.nav li.login {
	width: 25%;
}

.header ul.nav a:visited {
	color: #000000;
}

.header ul.nav li:hover {
	background-color: white;
}

.header ul.nav li:first-child:hover {
	background-color: inherit;
}

.header ul.nav li:first-child {
	width: 15%;
	padding-right: 10px;
	text-align: left;
}

.header ul.nav li:last-child {
	border-right: none;
}

.header .nav li {
	font-family: arial;
	text-transform: lowercase;
}

.header .nav .logo .logo-dj,
.header .nav .logo .logo-x {
	font-weight: bold;
}

.header .nav .logo:hover .logo-eq:after {
	content: "uipment";
	
}

.header .nav .logo .logo-x {
	color: red;
	text-transform: uppercase;
}

.header form {
	padding-left: 10%;
	padding-right: 10%;
}

.header form input[name='search'] {
	width: 100%;
	font-size: 1.25em;
}

.page-description h3 {
	margin: 2px;
	font-size: 15px;
}

.page-description p {
	margin: 2px;
	font-size: 12px;
}