.page {
	margin-left: 5%;
	margin-bottom: 1em;
}

.post-list{
	width: 40%;
	padding: 15px;
	padding-bottom: 30px;
	padding-right:40px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #616566;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #616566;
	border-top-left-radius: 10px;
}

.ad {
	border: solid 1px black;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}

.result {
	list-style-type: none;
	
	border: solid 1px black;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	
	transition: background-color 0.05s linear 0s;
}

.result:hover {
	background-color: #C2E0FF;
	border-width: 3px;
	padding: 13px;
}

.result .result-title {
	margin-top: 0.25em;
	margin-bottom: 0;
}

.result .result-meta span {
	font-size: 13px;
	border-right: solid 1px black;
	padding-right: 7px;
	padding-left: 7px;
}

.result .result-meta span:last-child {
	border-right: none;
}

.result p.result-description {
	vertical-align: top;
}

.result .result-byline {
	display: block;
	border-top: solid 2px black;
	padding-top: 0.25em;
	padding-left: 1em;
	font-size: 14px;
	color: rgb(128, 128, 128);
}